/.cache/
/.cmake-format
/.vscode
/build/
/compile_commands.json
work.out
work.xo
run/
serpens*/
spmm/
knn_*/
lu_decompose*/
page-rank-2*/
spmv-*/
output.txt
kernel_*.cpp
*.tcl
*.log
*.jou
*.sh
hbm-bandwidth*/
*.tar.gz
*.txt.gz
